body, html{
	font-family: sans-serif;
	margin: 0; 
	padding: 0;
	overflow: hidden!important;
}

.flex-row{
	display: flex;
}

#landing-page .section:nth-child(1){background: #56bc8a}
#landing-page .section:nth-child(2){background: #f2992e;}
#landing-page .section:nth-child(3){background: #a77dc2}
#landing-page .section:nth-child(4){background: #36465d}

#landing-page .section-landing img{max-width: 100%;}
#landing-page .section .section-inner{
	max-width: 60%;
	margin: 0 auto;
}
#landing-page .section .section-inner:after{
	content:'';
	display: block;
	clear: both;
}
#landing-page .section .section-inner h1{
	margin: 0;	
	color: #fff;
	text-align: center;
}

#landing-page .section-landing{position: relative;}
#landing-page .section-landing .section-inner{max-width: 65%}
#landing-page .section-landing .macbook-wrapper{max-width: 60%}
#landing-page .continue-btn{
  background: #526a8d;
	border: 0;
  border-top: 4px solid #36465d;
  bottom: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;	
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  text-decoration: none;
}


#landing-page .section-landing h1,
#landing-page .video-section-content h1{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#landing-page .section .section-title{
	color: #fff;
	position: static;
	top: auto;
	transform: none;
	text-align: center;
}

#landing-page .phone{
  width: 310px;
  height: 572px;
  position: relative;
}
#landing-page .video-wrap{
  display: block;
  position: absolute;
  top: 82px;
  left: 38px;
  background: #FFF;
  width: 236px;
  height: 420px;	
}
#landing-page .video-wrap video{
	width: 236px;
}

#landing-page .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/phone.svg);	
}

@media screen and (max-width: 960px){
#landing-page .section .section-inner{max-width: 80%;}  
 #landing-page .phone{
  width: 155px;
  height: 286px;
}
#landing-page .video-wrap{
  top: 41px;
  left: 19px;
  background: #FFF;
  width: 118px;
  height: 210px;  
}
#landing-page .video-wrap video{
  width: 118px;
}
#landing-page .video-section-content .cover{
  background-size: cover;
}